---
title: Contact
---

<section>
	<h1>Ahoy!</h1>

	<img src="images/me.jpg">

	<p>You can send me an e-mail to <i>+@peramid.es</i> (yup, a +). By the way, I also speak <span lang="es">Español</span> and <span lang="pt">Português</span>.</p>

	<p>Fingerprint for my gmail address, but please double-check: <code>52A8 A209 64D0 64EC 63DE CA0A 8E7D 1193 0973 EE82</code></p>
<section>

