<article>
	<header>
		<h1><a href="$url$">$title$</a></h1>
	</header>
	$body$
	<footer>
		<ol>
			<li>
				📆 $date$
				$if(author)$
				by $author$
				$endif$
			</li>
			$if(tags)$
			<li>
				🏷️ $tags$
			</li>
			$endif$
		</ol>
	</footer>
</article>

